<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InputConnectionString" value="Server=(local);Database=TwitterDatasetHistorical;Trusted_Connection=Yes"/>
    <add key="OutputConnectionString" value="Server=(local);Database=TwitterMonitorStocks;Trusted_Connection=Yes"/>
    <add key="CommandTimeout" value="0"/>
    <add key="SaveStateTimeDiff" value="10:00:00"/>
    <add key="StepSizeMinutes" value="60"/>
    <add key="WindowSizeDays" value="7"/>
    <add key="ProcessorAffinity" value="15"/>
    <add key="MinWorkerThreads" value="-1"/>
    <add key="MaxWorkerThreads" value="-1"/>
    <add key="SentimentClassifierConfidenceThreshold" value="0.2"/>
    <add key="DefaultClusterQualityThreshold" value="0.2"/>
    <add key="DefaultMinTaskTimeMinutes" value="5"/>
    <add key="TasksFileName" value="C:\Work\TwitterMonitor\Pump\Tasks.txt"/>
    <add key="MinTweetTimestamp" value="2011-12-01"/>
  </appSettings>
</configuration>