<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InputConnectionString" value="Server=(local);Database=TwitterDatasetHistorical;Trusted_Connection=Yes"/>
    <add key="OutputConnectionString" value="Server=(local);Database=TwitterDataset;Trusted_Connection=Yes"/>
    <add key="CommandTimeout" value="0"/>
    <add key="InputSelectStatement" 
         value="select Id, Text, CreatedAt from tweets t join tweettoquery ttq on ttq.tweetid = t.id where queryid = '4E997DCE-6013-0AE5-8402-D061E16F23BA' and createdat >= '2011-12-01' and createdat &lt; '2013-01-01' and id > @Id order by id"/>
    <add key="TaggedWords" value="$AAPL"/>
    <add key="OutputTableNameSuffix" value="AAPL"/>
    <add key="WindowSizeMinutes" value="10080"/>
    <add key="StepSizeMinutes" value="60"/>
    <add key="BowWeightsCut" value="0"/>
    <add key="ClusterQualityThresh" value="0.1"/>
  </appSettings>
</configuration>