<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InputConnectionString" value="Server=(local);Database=TwitterDataset;Trusted_Connection=Yes"/>
    <add key="OutputConnectionString" value="Server=(local);Database=TwitterDataset;Trusted_Connection=Yes"/>
    <add key="CommandTimeout" value="0"/>
    <add key="InputSelectStatement" 
         value="SELECT Tweets.TweetId AS Id, TweetText AS Text, DateTime AS CreatedAt FROM Tweets JOIN Stocks ON Tweets.TweetId = Stocks.TweetId WHERE StockSymbol = '$AAPL' AND Tweets.TweetId > @Id ORDER BY Tweets.TweetId"/>
    <add key="OutputTableNameClusters" value="AAPL_M_Clusters_3"/>
    <add key="OutputTableNameTerms" value="AAPL_M_Terms_3"/>
    <add key="WindowSizeMinutes" value="43200"/>
    <add key="StepSizeMinutes" value="60"/>
    <add key="BowWeightsCut" value="0"/>
    <add key="ClusterQualityThresh" value="0.1"/>
  </appSettings>
</configuration>