bin/
obj/
*.suo
*.ssms_suo
*.sln.user
*.sln.DotSettings.user
*.csproj.user
*.csproj.DotSettings.user
*.Publish.xml
_ReSharper.*/
.idea/
target/
classes/
*.properties
*.iml
/DAL/TwitterMonitorDAL/Web.config
Demos/SentimentIndex/cmn/*
*.bak
