<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RestBehavior">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="MetadataBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="MetadataBehavior" name="TwitterMonitorDAL.TwitterMonitor">
        <endpoint address="soap"                                      binding="basicHttpBinding" name="SOAP" contract="TwitterMonitorDAL.ITwitterMonitor" />
        <endpoint address="rest" behaviorConfiguration="RestBehavior" binding="webHttpBinding"   name="REST" contract="TwitterMonitorDAL.ITwitterMonitor" />
      </service>
    </services>

    <standardEndpoints>
      <webScriptEndpoint>
        <!-- Use this element to configure the endpoint -->
        <standardEndpoint name=""  />
      </webScriptEndpoint>
    </standardEndpoints>
    
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
